<app-resend-modal
 *ngIf="isResendModalOpen"
 (close)="closeResendModal($event)"
>

</app-resend-modal>
<div class="col-md-12 operation">
  <button type="button" class="btn btn-primary btn-sm" (click)="priview_file($event,file)"><i class="fa fa-eye"></i></button>
  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-download"></i></button>
  <button type="button" class="btn btn-success btn-sm" (click)="openResendModal($event)"><i class="fa fa-share-alt"></i></button>
  <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>

</div>