.card {
  margin-left: 25px;
  margin-right: 25px;
}
.margin-top-40 {
  margin-top: 42px;
}
.form-center {
  max-width: 650px;
  margin: 0 auto;
}
.btn-purple {
  background: #843cf6 !important;
}
.content-body {
  min-height: 600px !important;
}
input[type="checkbox"]:after {
  border: 1px solid #ced4da;
}
