.form-input-content {
  margin-top: 60px !important;
}
.main-container {
  position: fixed;
}
.card-body {
  padding: 30px 30px;
}

/* .login-wrapper {
  background: linear-gradient(to top left, #9900ff 0%, #6600cc 100%);
} */
