<app-modal-popup
  *ngIf="modelOpen"
  [setting]="popSetting"
  (close)="closeEditModal()"
></app-modal-popup>

<div class="btn-group">
  <button
    type="button"
    (click)="UserDetail($event, user)"
    class="btn btn-success"
  >
    View
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="openModel($event, user)"
  >
    Edit
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="removeUser($event, user)"
  >
    Remove
  </button>
</div>
