<div class="backdrop" (click)="closePopUp()"></div>
<div class="create-model-popup">
  <div class="modal-header">
    <h4 class="modal-title">{{ setting.title }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closePopUp()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    #userForm="ngForm"
    (ngSubmit)="userForm.form.valid && userOperation(userForm)"
  >
    <div class="modal-body">
      <div class="form-group">
        <label for="uname">User Name</label>
        <input
          type="text"
          class="form-control"
          name="uname"
          id="uname"
          #uname="ngModel"
          [(ngModel)]="userData.name"
          required
        />
        <div
          *ngIf="userForm.submitted && uname.invalid"
          class="invalid-feedback"
        >
          <div *ngIf="uname.errors.required">
            Username is required
          </div>
        </div>
      </div>
      <div class="create-user-form">
        <div class="form-group col-md-6">
          <div class="">
            <label for="uemail">Email</label>
            <input
              type="email"
              class="form-control"
              name="uemail"
              id="uemail"
              #uemail="ngModel"
              [(ngModel)]="userData.email"
              required
              email
            />
          </div>
          <div
            *ngIf="userForm.submitted && uemail.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="uemail.errors.required">
              Email is reqiured
            </div>
            <div *ngIf="uemail.errors.email">
              Please enter valid email
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="">
            <label for="role">Role</label>
            <select
              name="role"
              class="form-control"
              #role="ngModel"
              [(ngModel)]="userData.role"
            >
              <option value="">Select Role</option>
              <option value="admin">Admin</option>
              <option value="user"> User</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="upassword">Password</label>
        <input
          type="password"
          class="form-control"
          name="upassword"
          id="upassword"
          #upassword="ngModel"
          [(ngModel)]="userData.password"
          required
        />
        <div
          *ngIf="userForm.submitted && upassword.invalid"
          class="invalid-feedback"
        >
          <div *ngIf="upassword.errors.required">
            Password is required
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="cupassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          name="cupassword"
          id="cupassword"
          #cupassword="ngModel"
          [(ngModel)]="userData.confirmPassword"
          required
        />
      </div> -->
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">{{ setting.button }}</button>
      <button type="button" class="btn btn-light" (click)="closePopUp()">
        Close
      </button>
    </div>
  </form>
</div>
