<div class="content-body">
  <div class="row page-titles mx-0">
    <div class="col p-md-0">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">User Management</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="javascript:void(0)">User Dashboard</a>
        </li>
      </ol>
    </div>
  </div>
  <!-- row -->

  <div class="container-fluid"></div>
  <!-- #/ container -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" *ngIf="persons != null">
          <br />
          <!-- <table #dataTable class="display" style="width:100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Role</th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table> -->
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="row-border hover table"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of persons.data">
                <td>{{ person.name }}</td>
                <td>{{ person.email }}</td>
                <td>
                  <app-toggle-botton
                    [id]="person._id"
                    (changed)="changeStatus($event,this)"
                  >
                  </app-toggle-botton>
                </td>
                <td><app-button-group></app-button-group></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
