<app-modal-popup
  *ngIf="createModelOpen"
  [setting]="popSetting"
  (close)="closeCreateModal()"
  (updateUser)="getNewUserList($event)"
></app-modal-popup>
<div class="content-body">
  <div class="row page-titles mx-0">
    <div class="col p-md-0">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">User Management</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="javascript:void(0)">User Dashboard</a>
        </li>
      </ol>
    </div>
  </div>
  <!-- row -->

  <div class="container-fluid"></div>
  <!-- #/ container -->
  <div class="row user-management-row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" *ngIf="persons != null">
          <div class="right-header">
            <button
              class="btn btn-info create-button"
              (click)="openCreateModal()"
            >
              Create User
            </button>
          </div>
          <br />
          <!-- <table #dataTable class="display" style="width:100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Role</th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table> -->
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="row-border hover table"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Role</th>
                <th>Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of persons.data">
                <td>{{ person.name }}</td>
                <td>{{ person.email }}</td>
                <td>
                  <app-toggle-botton
                    [user]="person"
                    (changed)="changeStatus($event, person)"
                  >
                  </app-toggle-botton>
                </td>
                <td>
                  <app-button-group
                    [user]="person"
                    (click)="changeRole($event, person)"
                  ></app-button-group>
                </td>
                <td>
                  <app-operation-button
                    [user]="person"
                    (updatedDataEvent)="afterDelete($event)"
                    (getDataForEditModal)="getDataEditModal($event)"
                  ></app-operation-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
